<div class="row">
  <aside class="col-xs-4"></aside>
    <div class="panel panel-default"></div>
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
    
  <% @likes.each do |micropost| %>
      　
    <div class="panel-body" %>
      <img class ="media-object img-rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
      <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
      <div>
        <p><%= micropost.content %></p>
      </div>
    </div>
    
    
  <% end %>
  <%= paginate @likes %>
</div>